{% extends "base.html" %} {% block title %}Erro 500 - Erro Interno do Servidor{%
endblock %} {% block content %}
<div class="text-center mt-5">
  <h1 class="text-danger">Erro 500</h1>
  <h2 class="text-muted">Erro Interno do Servidor</h2>
  <p class="lead mt-4">
    Ocorreu um erro inesperado no servidor. Nossa equipe foi notificada.
  </p>
  <p class="lead">Por favor, tente novamente mais tarde.</p>
  <p class="lead">
    <a href="{{ url_for('index.index') }}" class="btn btn-primary mt-3"
      >Voltar para a Página Inicial</a
    >
  </p>
</div>
{% endblock %}
